/* app/globals.css */
@import 'tailwindcss';
@import 'nextra-theme-docs/style.css';

:root {
  --brand-orange: #F97316;
  --brand-orange-light: #FFEDD5;
  --brand-orange-dark: #C2410C;
}

/* Dark mode colors */
.dark {
  --background: #111;
  --foreground: #fff;
}